# Data Mining: Cleaning data and Feature Engineering

*AmesHouse Real State* is a real estate company located in Ames (USA) which has a team of professionals interested in improving their business model. For now, they use classic market analysis methods using different factors to try to predict the price of the housing market in their area. Their analysis methods are complete, but they have the impression that they are missing some variable.

To complement and improve their predictions, *AmesHouse Real State* has contacted us because they are interested in having a powerful and accurate method to predict the price of houses located in that city. 

In order to solve this problem we are going to follow the Data Science methodology. Data Science is a discipline that uses scientific methods, algorithms and systems to extract insights and meaningful information from different types of data. Data science unifies statistics, data analysis and algebra in order to understand and analyze the problem

>dataset: `Ex 3.0. Data_to_clean.csv`

**Key info about the dataset:**

- `Kitchen` Number of kitchens
- `KitchenQual` Kitchen quality
- `TotRmsAbvGrd` Total rooms above grade (does not include bathrooms)
- `Functional` Home functionality rating
- `Fireplaces` Number of fireplaces
- `FireplaceQu` Fireplace quality
- `GarageType` Garage location
- `GarageYrBlt` Year garage was built
- `GarageFinish` Interior finish of the garage
- `GarageCars` Size of garage in car capacity
- `GarageArea` Size of garage in square feet
- `GarageQual` Garage quality
- `GarageCond` Garage condition
- `PavedDrive` Paved driveway
- `WoodDeckSF` Wood deck area in square feet
- `OpenPorchSF` Open porch area in square feet
- `EnclosedPorch` Enclosed porch area in square feet
- `3SsnPorch` Three season porch area in square feet
- `ScreenPorch` Screen porch area in square feet
- `PoolArea` Pool area in square feet
- `PoolQC` Pool quality
- `Fence` Fence quality
- `MiscFeature` Miscellaneous feature not covered in other categories
- `MiscVal` $Value of miscellaneous feature
- `MoSold` Month Sold
- `YrSold` Year Sold
- `SaleType` Type of sale
- `SaleCondition` Condition of sale

**Steps you should perform in the notebook (Data Mining + Feature Engineering)**
* Initally EDA
* Deal with missing values
* Transform to logarithmic scale non-normal distributions
* Scaling continuous features
* Dumify categorical features

## Loading libraries

In [1]:
# Adding needed libraries and reading data
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import plotly.express as px

#liebries connect to ML
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import r2_score

#import functions
import sys
sys.path.insert(0, '/home/julianafigueira/Documentos/DS_Allwomen/_module1_/Function')

from Functions_EDA import *
from fx_MLRegression import *

import warnings
warnings.filterwarnings('ignore')

# Import the Data

In [2]:
SEED = 7
np.random.seed(SEED)

In [3]:
data = pd.read_csv('/home/julianafigueira/Documentos/DS_Allwomen/_module3_/datasets/Ex3.0.Data_Cleanning.csv',
                  index_col=0)
data.head()

,OverallQual,GrLivArea,YearRemodAdd,TotalBsmtSF,GarageCars,SalePrice,SalePrice_log
0,7,1710,2003,856,2,208500,12.247694
1,6,1262,1976,1262,2,181500,12.109011
2,7,1786,2002,920,2,223500,12.317167
3,7,1717,1970,756,3,140000,11.849398
4,8,2198,2000,1145,3,250000,12.429216

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1399 entries, 0 to 1459
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OverallQual    1399 non-null   int64
 1   GrLivArea      1399 non-null   int64
 2   YearRemodAdd   1399 non-null   int64
 3   TotalBsmtSF    1399 non-null   int64
 4   GarageCars     1399 non-null   int64
 5   SalePrice      1399 non-null   int64
 6   SalePrice_log  1399 non-null   float64
dtypes: float64(1), int64(6)
memory usage: 87.4 KB

In [5]:
percentage_nullValues(data)

               Percentage_NaN
OverallQual               0.0
GrLivArea                 0.0
YearRemodAdd              0.0
TotalBsmtSF               0.0
GarageCars                0.0
SalePrice                 0.0
SalePrice_log             0.0

# Bild the Model

## Multilinear Regression Model without scalling

In [6]:
X = data.drop(["SalePrice","SalePrice_log"], axis=1)
y =data['SalePrice_log']

In [7]:
MLR3(X,y)

The columns are ['OverallQual', 'GrLivArea', 'YearRemodAdd', 'TotalBsmtSF', 'GarageCars']
Their respective regressor coeficients are: [0.0873 0.0003 0.0033 0.0002 0.0957]
The regressor intercept is 4.12

 -------TRAIN metrics-----------

MAE: 0.1132
MSE: 0.0248
RMSE: 0.1575
R2 Score: 0.8311

 -------CV- TRAIN metrics-------

R2 Score: 0.823

 -------TEST metrics------------

MAE: 0.1157
MSE: 0.0242
RMSE: 0.1557
R2 Score: 0.8271

## Polynomial Model

In [8]:
PLR(X,y,3)

Cross Validation R2_score: [0.82 0.84 0.81 0.81 0.85 0.79 0.77 0.78 0.84 0.76]

Average 10-Fold CV R2_score: 0.807

 TRAIN metrics

MAE: 0.105
MSE: 0.022
RMSE: 0.149
R2 Score: 0.849
-----------------------------------------------------

 CV- TRAIN metrics

R2 Score: 0.807
-----------------------------------------------------

 TEST metrics

MAE: 0.108
MSE: 0.022
RMSE: 0.147
R2 Score: 0.846

## Multilinear Regression Model - No Target Scaled

In [9]:
#save the sales price log in one dataframe:
sales_log = pd.DataFrame(data['SalePrice_log']).reset_index()
sales_log.drop('index',axis=1, inplace=True)

### MinMax Scaling the No Target

In [10]:
#drop our target variable!
data_ = data.drop('SalePrice_log', axis=1)
datanames = data_.columns

In [11]:
from sklearn.preprocessing import MinMaxScaler, RobustScaler
scaler = MinMaxScaler() 
scaler

# Scale data 
data_scaled = scaler.fit_transform(data_)
data_scaled = pd.DataFrame(data_scaled, columns= datanames)

#creat a data set with the non-target scaled and the target variable
data_scaled = pd.concat([data_scaled, sales_log], axis=1)
data_scaled

,OverallQual,GrLivArea,YearRemodAdd,TotalBsmtSF,GarageCars,SalePrice,SalePrice_log
0,0.666667,0.398871,0.883333,0.386914,0.50,0.294187,12.247694
1,0.555556,0.258388,0.433333,0.596084,0.50,0.248432,12.109011
2,0.666667,0.422703,0.866667,0.419887,0.50,0.319607,12.317167
3,0.666667,0.401066,0.333333,0.335394,0.75,0.178105,11.849398
4,0.777778,0.551897,0.833333,0.535806,0.75,0.364514,12.429216
...,...,...,...,...,...,...,...
1394,0.555556,0.379116,0.833333,0.436888,0.50,0.237417,12.072541
1395,0.555556,0.512700,0.633333,0.740340,0.50,0.296729,12.254863
1396,0.666667,0.596425,0.933333,0.539413,0.25,0.392476,12.493130
1397,0.444444,0.200690,0.766667,0.501288,0.25,0.181706,11.864462
1398,0.444444,0.256507,0.250000,0.592993,0.25,0.190815,11.901583

### Multilinear Regression Model

In [12]:
X = data_scaled.drop(["SalePrice","SalePrice_log"], axis=1)
y = data_scaled['SalePrice_log']

In [13]:
MLR3(X,y)

The columns are ['OverallQual', 'GrLivArea', 'YearRemodAdd', 'TotalBsmtSF', 'GarageCars']
Their respective regressor coeficients are: [0.7856 0.8323 0.1985 0.4461 0.3826]
The regressor intercept is 10.7966

 -------TRAIN metrics-----------

MAE: 0.1132
MSE: 0.0248
RMSE: 0.1575
R2 Score: 0.8311

 -------CV- TRAIN metrics-------

R2 Score: 0.823

 -------TEST metrics------------

MAE: 0.1157
MSE: 0.0242
RMSE: 0.1557
R2 Score: 0.8271

### Standard Scaling the No Target

In [14]:
from sklearn.preprocessing import MinMaxScaler, RobustScaler,StandardScaler
# Initialise the Scaler 
scaler = StandardScaler() 
  
# Scale data 
data_Sscaled = scaler.fit_transform(data_)
data_Sscaled = pd.DataFrame(data_Sscaled, columns= datanames)

data_Sscaled = pd.concat([data_Sscaled, sales_log], axis=1)
data_Sscaled

,OverallQual,GrLivArea,YearRemodAdd,TotalBsmtSF,GarageCars,SalePrice,SalePrice_log
0,0.679565,0.425619,0.871181,-0.585807,0.323434,0.403071,12.247694
1,-0.078578,-0.487978,-0.447900,0.581577,0.323434,0.029655,12.109011
2,0.679565,0.580605,0.822326,-0.401786,0.323434,0.610524,12.317167
3,0.679565,0.439894,-0.741029,-0.873340,1.678178,-0.544298,11.849398
4,1.437708,1.420788,0.724616,0.245164,1.678178,0.977024,12.429216
...,...,...,...,...,...,...,...
1394,-0.078578,0.297145,0.724616,-0.306900,0.323434,-0.060241,12.072541
1395,-0.078578,1.165878,0.138358,1.386670,0.323434,0.423816,12.254863
1396,0.679565,1.710366,1.017745,0.265291,-1.031310,1.205222,12.493130
1397,-0.836721,-0.863206,0.529197,0.052516,-1.031310,-0.514909,11.864462
1398,-0.836721,-0.500214,-0.985303,0.564325,-1.031310,-0.440571,11.901583

### Multilinear Regression Model

In [15]:
X = data_scaled.drop(["SalePrice","SalePrice_log"], axis=1)
y = data_scaled['SalePrice_log']

In [16]:
MLR3(X,y)

The columns are ['OverallQual', 'GrLivArea', 'YearRemodAdd', 'TotalBsmtSF', 'GarageCars']
Their respective regressor coeficients are: [0.7856 0.8323 0.1985 0.4461 0.3826]
The regressor intercept is 10.7966

 -------TRAIN metrics-----------

MAE: 0.1132
MSE: 0.0248
RMSE: 0.1575
R2 Score: 0.8311

 -------CV- TRAIN metrics-------

R2 Score: 0.823

 -------TEST metrics------------

MAE: 0.1157
MSE: 0.0242
RMSE: 0.1557
R2 Score: 0.8271

# Classification Model

In [17]:
import sys
sys.path.insert(0, '/home/julianafigueira/Documentos/DS_Allwomen/_module1_/Function')

from fx_pipelineclassification import *

In [18]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
OverallQual,1399.0,6.103645,1.319484,1.000000,5.000000,6.000000,7.000000,10.000000
GrLivArea,1399.0,1501.289492,490.544448,438.000000,1133.000000,1456.000000,1766.500000,3627.000000
YearRemodAdd,1399.0,1985.167977,20.476120,1950.000000,1967.500000,1994.000000,2004.000000,2010.000000
TotalBsmtSF,1399.0,1059.735525,347.910509,105.000000,806.000000,994.000000,1282.500000,2046.000000
GarageCars,1399.0,1.761258,0.738411,0.000000,1.000000,2.000000,2.000000,4.000000
SalePrice,1399.0,179355.751966,72331.412363,34900.000000,131000.000000,164000.000000,213125.000000,625000.000000
SalePrice_log,1399.0,12.024150,0.380641,10.460242,11.782953,12.007622,12.269634,13.345507

In [19]:
data_c = data.copy()
data_c

,OverallQual,GrLivArea,YearRemodAdd,TotalBsmtSF,GarageCars,SalePrice,SalePrice_log
0,7,1710,2003,856,2,208500,12.247694
1,6,1262,1976,1262,2,181500,12.109011
2,7,1786,2002,920,2,223500,12.317167
3,7,1717,1970,756,3,140000,11.849398
4,8,2198,2000,1145,3,250000,12.429216
...,...,...,...,...,...,...,...
1455,6,1647,2000,953,2,175000,12.072541
1456,6,2073,1988,1542,2,210000,12.254863
1457,7,2340,2006,1152,1,266500,12.493130
1458,5,1078,1996,1078,1,142125,11.864462
1459,5,1256,1965,1256,1,147500,11.901583

In [20]:
data_c.loc[:,"PriceRange"] = 10

In [21]:
data_c.loc[data_c.SalePrice<10000000,'PriceRange'] = 0
data_c.loc[data_c.SalePrice >= 164000,'PriceRange'] = 1
data_c.PriceRange.value_counts()

1    700
0    699
Name: PriceRange, dtype: int64

In [22]:
data_c.head()

,OverallQual,GrLivArea,YearRemodAdd,TotalBsmtSF,GarageCars,SalePrice,SalePrice_log,PriceRange
0,7,1710,2003,856,2,208500,12.247694,1
1,6,1262,1976,1262,2,181500,12.109011,1
2,7,1786,2002,920,2,223500,12.317167,1
3,7,1717,1970,756,3,140000,11.849398,0
4,8,2198,2000,1145,3,250000,12.429216,1

In [23]:
X.isnull().sum()
y.isnull().sum()

0

In [24]:
X = data_c.drop(["SalePrice","SalePrice_log","PriceRange"], axis=1)
y = data_c['PriceRange']

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                    test_size=0.33,
                                                    random_state=42)

In [26]:
y_test.isnull().sum()

0

In [27]:
models = GetBasedModel()
models

[('LR', LogisticRegression()),
 ('KNN', KNeighborsClassifier()),
 ('CART', DecisionTreeClassifier()),
 ('SVM', SVC()),
 ('RF', RandomForestClassifier())]

In [28]:
def BasedModels(X_train, y_train,models):
    """
    BasedModels will return the evaluation metric 'auc' after performing
    a CV for each of the models
    input:
    X_train
    y_train
    models = array containing the different instantiated models
    
    output:
    names = names of the diff models tested
    results = results of the diff models
    """
    # Test options and evaluation metric
    num_folds = 10
    
    scoring = 'roc_auc'

    results = []
    names = []
    
    for name, model in models:
        cv_results = cross_val_score(model, X_train,
                                     y_train, cv=num_folds, scoring=scoring)
        results.append(cv_results.mean())
        names.append(name)
        msg = "%s: AUC = %f (std = %f)" % (name, 
                                                cv_results.mean(), 
                                                cv_results.std())
        print(msg)
    scoreDataFrame = pd.DataFrame({'Model':names, 'Score': results})
       
        
    return scoreDataFrame

In [29]:
Base_model = BasedModels(X_train, y_train,models)

LR: AUC = 0.949898 (std = 0.015080)
KNN: AUC = 0.924487 (std = 0.020549)
CART: AUC = 0.853339 (std = 0.038849)
SVM: AUC = 0.905757 (std = 0.032444)
RF: AUC = 0.955252 (std = 0.009314)

In [30]:
MetricsClas(models,X_train, y_train, X_test, y_test)

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
Assessment of  LR

-----------------------------------------
TRAIN results
-----------------------------------------
Confusion Matrix
 [[419  58]
 [ 54 406]]
-----------------------------------------
TEST results
-----------------------------------------
Confusion Matrix
 [[196  26]
 [ 32 208]]
 Classification report
    precision    recall  f1-score  support
0   0.859649  0.882883  0.871111    222.0
1   0.888889  0.866667  0.877637    240.0

++++++++ Summary of the Metrics +++++++++++++++++++++++++++++++++++
       Accuracy  Precision    Recall        f1
Train  0.878357   0.879050  0.878338  0.878239
test   0.874459   0.874269  0.874775  0.874374
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
Assessment of  KNN

-----------------------------------------
TRAIN results
-----------------------------------------
Confusion Matrix
 [[407  70]
 [ 42 418]]
-----------------------------------------
TEST results
-----------------------------------------
Confusion Matrix
 [[180  42]
 [ 31 209]]
 Classification report
    precision    recall  f1-score  support
0   0.853081  0.810811  0.831409    222.0
1   0.832669  0.870833  0.851324    240.0

++++++++ Summary of the Metrics +++++++++++++++++++++++++++++++++++
       Accuracy  Precision    Recall        f1
Train  0.844235   0.849185  0.845030  0.843877
test   0.841991   0.842875  0.840822  0.841366
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
Assessment of  CART

-----------------------------------------
TRAIN results
-----------------------------------------
Confusion Matrix
 [[477   0]
 [  1 459]]
-----------------------------------------
TEST results
-----------------------------------------
Confusion Matrix
 [[199  23]
 [ 45 195]]
 Classification report
    precision    recall  f1-score  support
0   0.815574  0.896396  0.854077    222.0
1   0.894495  0.812500  0.851528    240.0

++++++++ Summary of the Metrics +++++++++++++++++++++++++++++++++++
       Accuracy  Precision    Recall        f1
Train  0.855891   0.857789  0.855443  0.855510
test   0.852814   0.855035  0.854448  0.852803
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
Assessment of  SVM

-----------------------------------------
TRAIN results
-----------------------------------------
Confusion Matrix
 [[392  85]
 [ 68 392]]
-----------------------------------------
TEST results
-----------------------------------------
Confusion Matrix
 [[175  47]
 [ 39 201]]
 Classification report
    precision    recall  f1-score  support
0   0.817757  0.788288  0.802752    222.0
1   0.810484  0.837500  0.823770    240.0

++++++++ Summary of the Metrics +++++++++++++++++++++++++++++++++++
       Accuracy  Precision    Recall        f1
Train  0.832498   0.833705  0.832799  0.832390
test   0.813853   0.814120  0.812894  0.813261
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
Assessment of  RF

-----------------------------------------
TRAIN results
-----------------------------------------
Confusion Matrix
 [[476   1]
 [  0 460]]
-----------------------------------------
TEST results
-----------------------------------------
Confusion Matrix
 [[209  13]
 [ 39 201]]
 Classification report
    precision    recall  f1-score  support
0   0.842742  0.941441  0.889362    222.0
1   0.939252  0.837500  0.885463    240.0

++++++++ Summary of the Metrics +++++++++++++++++++++++++++++++++++
       Accuracy  Precision    Recall        f1
Train  0.887932   0.888832  0.887891  0.887819
test   0.887446   0.890997  0.889471  0.887412

In [31]:
#scalling
GetScaledModel('standard')
models = GetScaledModel('standard')
models
#models = GetScaledModel('standard')
scaledScoreStandard = BasedModels(X_train, y_train,models)
scaledScoreStandard
Base_model
compareModels = pd.concat([Base_model,scaledScoreStandard], axis=1)
compareModels

models = GetScaledModel('minmax')
scaledScoreMinMax = BasedModels(X_train, y_train,models)
compareModels = pd.concat([Base_model,scaledScoreStandard,
                           scaledScoreMinMax], axis=1)
compareModels

models = GetScaledModel('robustscaler')
scaledScoreRobustSc= BasedModels(X_train, y_train,models)
compareModels = pd.concat([Base_model,scaledScoreStandard,
                           scaledScoreMinMax, scaledScoreRobustSc], axis=1)
compareModels
#based on that you choose the model that give us the best performace

standardLR: AUC = 0.961855 (std = 0.011786)
standardKNN: AUC = 0.946596 (std = 0.012531)
standardCART: AUC = 0.861966 (std = 0.034183)
standardSVM: AUC = 0.958267 (std = 0.009639)
standardRF: AUC = 0.957344 (std = 0.011362)
minmaxLR: AUC = 0.959882 (std = 0.012694)
minmaxKNN: AUC = 0.946373 (std = 0.014720)
minmaxCART: AUC = 0.857641 (std = 0.041630)
minmaxSVM: AUC = 0.959575 (std = 0.009470)
minmaxRF: AUC = 0.957949 (std = 0.007462)
robustscalerLR: AUC = 0.961946 (std = 0.012082)
robustscalerKNN: AUC = 0.943070 (std = 0.012685)
robustscalerCART: AUC = 0.859565 (std = 0.034900)
robustscalerSVM: AUC = 0.959189 (std = 0.008835)
robustscalerRF: AUC = 0.955285 (std = 0.007902)

,Model,Score,Model,Score,Model,Score,Model,Score
0,LR,0.949898,standardLR,0.961855,minmaxLR,0.959882,robustscalerLR,0.961946
1,KNN,0.924487,standardKNN,0.946596,minmaxKNN,0.946373,robustscalerKNN,0.943070
2,CART,0.853339,standardCART,0.861966,minmaxCART,0.857641,robustscalerCART,0.859565
3,SVM,0.905757,standardSVM,0.958267,minmaxSVM,0.959575,robustscalerSVM,0.959189
4,RF,0.955252,standardRF,0.957344,minmaxRF,0.957949,robustscalerRF,0.955285